<!-- temperature Convertor -->
<div class="container bg-light">
  <div class="row">
    <div class="col-6">Enter temperature in Celcius</div>
    <div class="col-6">
      <input
        type="text"
        name="celicus"
        [(ngModel)]="celsius"
        (input)="onCelsiusChange($event)"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-6">Enter temperature in Fehranit</div>
    <div class="col-6">
      <input
        type="text"
        [(ngModel)]="fahrenheit"
        (input)="onFahrenheitChange($event)"
      />
    </div>
  </div>
</div>
